@use "../color" as *;
@use "../mixin" as *;
@use "../setting" as *;
@use "../variable" as *;


.contactTop {
    padding: 120px 0 0;
    margin-bottom: 20px;
    overflow: hidden;

    @include mq() {
        
    }
    &__area {
        margin-left: 120px;
        position: relative;
        text-shadow: 2px 3px 3px rgba(255, 255, 255, 0.9);
        height: 350px;
        margin-bottom: 80px;

        @include mq() {
            margin-left: 10px;
            margin-bottom: 20px;
            height: 250px;
        }
        
        &::after {
            position: absolute;
            content: "";
            width: 203%;
            height: 50px;
            left: 0;
            bottom: 5%;
            transform: translate(-50%, 0%) skewy(-5deg);
            z-index: -2;
            background: $main-color;
            opacity: .9;

            @include mq() {
                width: 120%;
                transform: skewY(-7deg);
                bottom: 30%;
                left: -20%;
            }
        }
        &::before {
            position: absolute;
            content: "";
            width: 203%;
            height: 10px;
            left: 0;
            bottom: 40%;
            transform: translate(-50%, 0%) skewy(5deg);
            z-index: -1;
            background: $rich-font;
            opacity: .9;
            @include mq() {
                width: 120%;
                transform: skewY(7deg);
                bottom: 30%;
                left: -20%;
            }
        }
    }

    &__sttl {
        font-size: 2rem;

        @include mq() {
            font-size: 1.5rem;
        }

    }

    &__ttl {
        font-size: 64px;
        position: relative;
        @include mq() {
            font-size: 3rem;
        }

        &::after {
            position: absolute;
            content: "COMPANY";
            font-size: 160px;
            color: $rich-font;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.1;
            @include mq("pc") {
                right: 20%;
            }

            @include mq() {
                font-size: 5.5rem;
                right: 0;
            }

        }
        
    }
    &__wrapper {
        background: rgba(199,185,148 , 0.2);
        padding: 100px;
        border-radius: 20px;
        max-width: 1600px;
        margin: 0 auto 120px;

        @include mq() {
            padding: 40px 20px;
            margin: 20px;
        }
    }
   
}

.contact,.thanks {

    &__announcement {
        text-align: center;
        width: 555px;
        margin: 0 auto;
        font-size: 18px;

        @include mq() {
            width: 350px;
            font-size: 14px;
        }
    }

    &__link {
        text-align: center;
        font-size: 20px;
        margin-top: 80px;
        font-weight: bold;
        @include mq() {
            margin-top: 40px;
        }
    }

    &__form {
        width: 60%;
        margin: 85px auto;

        @include mq() {
            width: 80%;
            margin: 40px auto;
        }
        &__element {
            display: flex;
            flex-direction: column;
            text-align: center;

            label {
                margin-bottom: 22px;
                border-radius: 4px;
                font-size: 18px;
                @include mq() {
                    margin-bottom: 16px;
                    font-size: 18px;
                }
            }

            input,select {
                margin-bottom: 22px;
                padding: 20px;
                border-radius: 4px;
                border: 1px solid #333;
                @include mq() {
                    padding: 10px;
                    margin-bottom: 16px;
                }
            }

            textarea {
                height: 200px;
                border-radius: 4px;
            }
        }

        &__gender {
            margin-top: 27px;
            margin-bottom: 27px;
            label {
                margin-left: 30px;
            }
        }

        &__submit {
            text-align: center;
            margin-top: 60px;

            @include mq() {
                margin-top: 24px;
            }
        }

    }

    &__radio {

    }


}

input[type="submit"] {
    padding: 20px;
    width: 304px;
    display: inline-block;
    background: $main-color;
    color: #fff;
    border-radius: 10px;
    border: none;

    @include mq() {
        padding: 10px;
        width: 150px;
    }
}


.thanks {
    margin-bottom: 300px;
}
    
